img {
    max-width: 750px;
    max-height: 500px;
    object-fit: cover;
}

/*#imageDiv {*/
    /*max-height: 550px;*/
/*}*/

#recommendedVOrC {
    margin-top: 50px;
    /*margin-left: 10px;*/
    width: 1300px;
    height: auto;
}

/*#changes {*/
    /*margin-left: -10px;*/
/*}*/

#currentHiredVorC {
    margin-top: 50px;
    /*margin-left: 10px;*/
    width: 1300px;
    height: auto;
}

#interestedVOrC {
    margin-top: 50px;
    /*margin-left: 10px;*/
    width: 1300px;
    height: auto;
}

#projectName {
    margin-left: -20px;
}

hr {
    max-width: 1300px;
    margin-left: -10px;

}

#volunteer_user_image {
    max-width: 100px;
    max-height: 100px;

}

/*#h3Funding, #h3bene, #pfunding, #pbene {*/
    /*font-size: 12px;*/
/*}*/


#btnMarkInterested {
    margin-top: 20px;
    margin-left: 100px;
}

#uncontrolled-tab-example-tab-1, #uncontrolled-tab-example-tab-2, #uncontrolled-tab-example-tab-3 {
    margin-left: 50px;
    margin-right: 50px;
}