img {
    max-width: 750px;
    max-height: 500px;
    object-fit: cover;
}

/*#imageDiv {*/
    /*max-height: 550px;*/
/*}*/

#recommendedVOrC {
    margin-top: 50px;
    margin-left: 10px;
    width: 1410px;
    height: auto;
}

#currentHiredVorC {
    margin-top: 50px;
    margin-left: 10px;
    width: 1410px;
    height: auto;
}

#projectName {
    margin-left: -20px;
}

hr {
    max-width: 1300px;
    margin-left: -10px;

}

#volunteer_user_image {
    max-width: 100px;
    max-height: 100px;

}

/*#h3Funding, #h3bene, #pfunding, #pbene {*/
    /*font-size: 12px;*/
/*}*/
